<div class="fullscreen">
  <ion-content class="background">
    <div class="wrapper">
    </div>
    <form (submit)="submit()" class="form-backgrpund">
      <div class="card-body">
        <h1>Signup</h1>
        <p class="text-muted">Sign up to your account</p>
      </div>
      <ion-item>
      
        <ion-input clearInput type="text" [(ngModel)]="_id" name="_id" placeholder="Email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input   type="password" [(ngModel)]="password" name="password" placeholder="password"  ></ion-input>
      </ion-item>
      <br>
      <br>
      <button ion-button color="secondary" left>Sign Up</button>
      <p class="forSignup" align="center" (click)="Newhere()">Login</p>
    </form>
  </ion-content>
</div>