page-reset {

    .content {
        font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        /* font-family: 'Montserrat', sans-serif; */
        font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    
    
    #block {
        animation-name: spin;
        animation-duration: 8000ms;
        animation-iteration-count: infinite;
    }
       
    @keyframes spin {
        0%,10% {
            transform:rotate(360deg);
        }
        40%,50% {
            transform:rotate(0deg);
        }
        90%,100% {
            transform:rotate(360deg);
        }
    
    }
    
    .content {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        text-align: center;
        margin: 0px auto;
        padding-top: 80px;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        background-image: url(../assets/icon/screen2.jpg);
        /* background-position: center; */
        background-size: cover;
        height: 100%;
    }
    
    .img-box {
        padding: 10px;
        margin-bottom: 20px;
    }
    
    .text-box {
        width: 98%;
        font-size: 14px;
        font-weight: bolder;
        height: 40px;
        padding: 5px;
        box-sizing: border-box;
        margin: 5px auto;
        margin-top: 0px;
        margin-bottom: 7px;
    
    }
    
    .text-box input {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: none;
        border: 1px solid #e6dad766;
        border-radius: 3px;
        box-shadow: 1px 1px 13px 0px #837a78;
    }
    
    .save-btn {
        width: 95%;
        padding: 10px;
        height: 40px;
        text-align: center;
        color: #FFF;
        background-color: #Fb6542;
        font-size: 14px;
        font-weight: bolder;
        border: none;
        border-radius: 3px;
        /* box-shadow: 0px 2px 10px -4px #0000003d; */
        margin-top: 15px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 13px 0px #837a78;
    }
    
    p {
        margin: 0;
        font-size: 12px;
        color: #Fb6542;
    }
    
    a {
        text-decoration: underline;
        color: #Fb6542;
    }
}
