<!--
  Generated template for the ResetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>reset</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
 -->
 <div class='content'>
    <div class='img-box' id="block">
        <img src='../assets/icon/icons8-mind-map-filled-100.png' width=100px height=100px>
    </div>
    <form (submit)="submit()">
    <div class='text-box'>
        <input type="text" [(ngModel)]="_id" name="_id" placeholder="Email">
    </div>
   <!--  <div class='text-box'>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
    </div>
    <div class='text-box'>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Confirm Password">
    </div> -->

    <button class='save-btn'>Reset</button>
  </form>
    <p>Already have an account? </p>
    <p><a (click)="Newhere()">Signin</a></p>
</div>