page-iframe {
    .content-md {
  
        background-color: transparent !important;
    }
    .form-backgrpund{
        background-color: #f2f2f2;
        /* height: 201px; */
        border-radius: 10px;
        margin-top: 55px;
        width: 89%;
        padding: 16px;
        margin-left: 5%;
    }
}
