<!--
  Generated template for the EmailverifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>emailverify</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding >
<h1 style="margin-top: 75%;" algin="center"> please verify your <i style="text-decoration: underline;color: skyblue" (click)="mailto()">email</i> or <i style="text-decoration: underline;color: skyblue" (click)="login()">Login</i></h1> 
</ion-content>
