<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons right>
      <button class="sidemenuBackground" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="margin-top: 3px;float: right;">menu</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <!-- *ngIf="devices" -->
    <ion-row >
      <ion-col col-4 *ngFor="let data_hierarchy of  devices" padding class="grid-view">
        <!--  <ion-icon align=center class="ion-ion-icon" name="{{tes.icon}}"></ion-icon>-->
        <!--   <br /> -->
        <!--  <br />
          <br /> -->
        <p class="applience-name" align=center (click)="showsubLevel(data_hierarchy)">{{data_hierarchy.name}}</p>


      </ion-col>
    </ion-row>

    <!-- <ion-row *ngIf="!devices">
      <ion-item>
        <p>{{_id}}</p>
      </ion-item>
      <ion-item>
      <p>{{created}}</p>
      </ion-item>
      <ion-item>
      <p>{{createdBy}}</p>
      </ion-item>
      <ion-item>
      <p>{{level}}</p>
      </ion-item>
      <ion-item>
      <p>{{levelId}}</p>
      </ion-item>
      <ion-item>
      <p>{{levelsLimit}}</p>
      </ion-item>
      <ion-item>
      <p>{{name}}</p>
      </ion-item>
      <ion-item>
      <p>{{schema}}</p>
      </ion-item>
      <ion-item>
      <p>{{type}}</p>
      </ion-item>
      <ion-item>
      <p>{{updated}}</p>
      </ion-item>
      <ion-item>
      <p>{{_rev}}</p>
      </ion-item>

    </ion-row> -->
  </ion-grid>



</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>