page-api-starter {
    .content {
        font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    
    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        /* font-family: 'Montserrat', sans-serif; */
        font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    
    .button-md {
        background-color: #31a2ac !important;
     
       
        -webkit-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
        margin-top: -10px;
    }
    .back-button{
     
        display: inline-block;
        z-index: 1000;
    }
 

    .header {
        height: 60px;
        background-color: #31a2ac !important;
        box-shadow: 1px 1px 13px 0px #837a78;
        z-index: 3;
    }
    .header {
    
 
        margin-top: 0px !important;
        padding-top: 0px !important;
 
    }
    .header-option {
        height: 60px;
        width: 16%;
        padding-top: 44px;
        /* padding-left: 15px; */
        /* padding-right: 15px; */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
}

    .header-option img {
        filter: invert(180);
    }

    .header-heading {
        height: 60px;
        width: 80%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        padding-top: 10px;
        margin-left: -8%;
        font-weight: bolder;
    }

    .content {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        text-align: center;
        margin: 0px auto;
        padding-top: 80px;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        background-image: url(../assets/icon/screen1.jpg);
        /* background-position: center; */
        background-size: cover;
        height: 100%;
    }
    .content-box {
    
        width: 100%;
        box-sizing: border-box;
        height: auto;
        /* filter: grayscale(1);
        color : #767676 */
      
    }
    .content-box-icon {
        border-radius: 5px;
        height: 70px;
        width: 25%;
        float: left;
        text-align: center;
        border: 1px solid #0000000a;
        -webkit-box-shadow: 32 23 27 21;
        box-shadow: 32 23 27 21;
        -webkit-box-shadow: 1px 1px 13px -2px #837a78;
        box-shadow: 1px 1px 13px -2px #837a78;
        background-color: white;
        padding: 8px;
        margin: 10px;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        color: #767676;
   
    }
    .name {
        font-size: 13px;
        margin-top: 5px;
        font-weight: bolder;
    }

    .selected{
        filter: grayscale(0) !important;
        color : #Fb6542 !important;
    }

    .content-box-title {
        float: left;
        text-align: center;
        height: 40px;
        font-size: 14px;
        margin-top: -2px;
        font-weight: bold;
    }

  
    .save-btn {
        width: 95%;
        padding: 10px;
        height: 40px;
        text-align: center;
        color: #FFF;
        background-color: #Fb6542;
        font-size: 14px;
        font-weight: bolder;
        border: none;
        border-radius: 3px;
        position: absolute;
        bottom: 60;
        left: 6;
    }
    

    .footer {
        width: 100%;
        height: 40px;
        background-color: #31a2ac;
        box-shadow: 1px -1px 13px 0px #837a78;
    }

    .footer-option {
        width: 25%;
        height: 40px;
        float: left;
        box-sizing: border-box;
        padding: 15px;
        padding-top: 10px;
        text-align: center;
        font-size: 20px !important;
        color: #FFF;
    }

    .footer-option img {
        filter: invert(180);
    }
    
.toolbar-md-primary .toolbar-background-md {
    background: #31a2ac;
}
.toolbar-background-md {
    border-coslor: #31a2ac;
   
}
.button-md {
 
  
}
}
