page-appliance {
    .applience-name {
        font-size: 12px;
        white-space: pre;
        margin-top: 23px;
    }
    .chartWrapper {
        position: relative;
       }
       .content-md {
        color: rgb(204, 0, 51);;
        background-color: #e4e3db;
    }
       .chartWrapper > canvas {
         position: absolute;
         left: 0;
         top: 0;
         pointer-events: none;
       }
       .chartAreaWrappermotor{
        width: 350px;
      
         overflow-x: scroll;
       }
       .chartAreaWrapper {
        width: 350px;
        height: 300px;
         overflow-x: scroll;
       }
       .donut-inner {
        margin-top: -33%;
     }
     .donut-inner h5 {
        margin-bottom: 5px;
        margin-top: 0;
     }
     .donut-inner span {
        font-size: 12px;
     }  ion-icon {
     
        font-size: 2.6em;
    
    }
    #donut-example{
    /*     margin-top: 45%; */

    }
  
    .button-md {
        
    
        height: 5.5rem;
        
        width: 59px;
        border-radius: 41px;
    }
    .button-md.activated {
        background-color: #e4e3db;
        -webkit-box-shadow: 0 3px 5px #e4e3db, 0 3px 5px #e4e3db , 0 0 0 0 transparent;
        box-shadow: 0 3px 5px #e4e3db, 0 3px 5px #e4e3db, 0 0 0 0 transparent;
    }
    .button-md {
        float: right;
        margin-right: 20px;
        margin-top: 8px;
        background-color: #e4e3db;
        -webkit-box-shadow: 0 2px 2px 0 #e4e3db, 0 3px 1px -2px #e4e3db, 0 1px 5px 0 #e4e3db;
        box-shadow: 0 2px 2px 0 #e4e3db, 0 3px 1px -2px #e4e3db, 0 1px 5px 0 #e4e3db;
    }
    .btncolor{
        background-color: rgb(204, 0, 51);;
    }
    ion-icon {
      
        
        padding-right: 10px;
        padding-left: 10px;
    } 
    .donut-chart.small {
        max-width: 400px !important;
      
      }
      svg:not(:root) {
        overflow: hidden;
    z-index: 100;
 
 
  
}    .list-md {
    margin: -1px 0 8px;
}
 
}
