page-addorg {
 
.form-backgrpund{
    background-color: #f2f2f2;
    /* height: 201px; */
    border-radius: 10px;
    margin-top: 160px;
    width: 89%;
    padding: 16px;
    margin-left: 5%;
}
  .content-md {
  
    background-color: transparent !important;
}

#svgId {
    position: unset!important;
    bottom: 0;
    width: 100%;
    height: 18vw!important;
    margin-top: -27px;
    margin-left: -1px;
}

.button-md {
     
    background-color: #0050ef;
   
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;

}
}