<!--
  Generated template for the AddorgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
 


<ion-content  >

   <!--  <div class="header">
      
        <div class="back-button" ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </div>
        <div class="heading-text">
          <h3>OTTO HOME</h3>
        </div>
      
    
      <svg id="svgId" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="#FFFFFF" points="0,100 100,0 100,100" />
      </svg>
    </div> -->
  <form (submit)="submit()" class="form-backgrpund">
 
    <br>
    <ion-item>
      <!--  <ion-label>
            <ion-icon name="ios-person-outline"></ion-icon>
          </ion-label> -->
      <ion-input clearInput type="text" [(ngModel)]="_id" name="_id" placeholder="id"></ion-input>
    </ion-item>
    <ion-item>
      <!--  <ion-label>
            <ion-icon name="ios-person-outline"></ion-icon>
          </ion-label> -->
      <ion-input clearInput type="text" [(ngModel)]="name" name="name" placeholder="name"></ion-input>
    </ion-item>
   <!--  <ion-item>
  
      <ion-input clearInput type="text" [(ngModel)]="org_type" name="org_type" placeholder="Type"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label class="inp-Width inp-bodre-styl" >Category</ion-label>
      <ion-select [(ngModel)]="SubCategoryId"  [ngModelOptions]="{standalone: true}" (ionChange)="Categary(SubCategoryId);">
        <ion-option value="Home">Home</ion-option>
        <ion-option value="Office">Office</ion-option>
        <ion-option value="Agriculture">Agriculture</ion-option>
        <ion-option value="Bank">Bank</ion-option>
        <ion-option value="Other">Other</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <br>
    <button ion-button color="nav" >Add organization</button>
   
    <!-- <p class="forSignup" align="center" (click)="Newhere()">Login</p> -->
  </form>
  <button ion-button color="nav" right style="float: right;margin-top: -53px;margin-right: 41px;" (click)="dismiss()">close</button>
</ion-content>