page-appliance {
//     .applience-name {
//         font-size: 12px;
//         white-space: pre;
//         margin-top: 23px;
//     }
    .chartWrapper {
        position: relative;
        width: 111%;
      
       }
       .content-md {
        color: rgb(204, 0, 51);;
        background-color: #e4e3db;
    }
       .chartWrapper > canvas {
         position: absolute;
         left: 0;
         top: 0;
         pointer-events: none;
       }
       .chartAreaWrappermotor{
    
      
         overflow-x: scroll;
       }
       .chartAreaWrapper {
       
         overflow-x: scroll;
       }
//        .donut-inner {
//         margin-top: -33%;
//      }
//      .donut-inner h5 {
//         margin-bottom: 5px;
//         margin-top: 0;
//      }
//      .donut-inner span {
//         font-size: 12px;
//      }  ion-icon {
     
//         font-size: 2.6em;
    
//     }
 
  
//     .button-md {
        
    
//         height: 5.5rem;
        
//         width: 59px;
//         border-radius: 41px;
//     }
//     .button-md.activated {
//         background-color: #e4e3db;
//         -webkit-box-shadow: 0 3px 5px #e4e3db, 0 3px 5px #e4e3db , 0 0 0 0 transparent;
//         box-shadow: 0 3px 5px #e4e3db, 0 3px 5px #e4e3db, 0 0 0 0 transparent;
//     }
//     .button-md {
//         float: right;
//         margin-right: 20px;
//         margin-top: 8px;
//         background-color: #e4e3db;
//         -webkit-box-shadow: 0 2px 2px 0 #e4e3db, 0 3px 1px -2px #e4e3db, 0 1px 5px 0 #e4e3db;
//         box-shadow: 0 2px 2px 0 #e4e3db, 0 3px 1px -2px #e4e3db, 0 1px 5px 0 #e4e3db;
//     }
//     .btncolor{
//         background-color: rgb(204, 0, 51);;
//     }
//     ion-icon {
      
        
//         padding-right: 10px;
//         padding-left: 10px;
//     } 
//     .donut-chart.small {
//         max-width: 400px !important;
      
//       }
//       svg:not(:root) {
//         overflow: hidden;
//     z-index: 100;
 
 
  
// }    .list-md {
//     margin: -1px 0 8px;
// }


#svgId {
    position: unset !important;
    bottom: 0;
    width: 100%;
    height: 18vw !important;
    margin-top: -10px;
    margin-left: 0px;
} body{
margin: 0;
background-color: #FFFFFF;
font-family: 'Montserrat', sans-serif;

}
.header{
background: #0050ef;
width: 100%;
margin-top: 0px;
padding-top: 25px;

color: white;
position: relative;
height: 106px;
/*background-image: linear-gradient(rgb(9, 172, 241), #6060604f);*/
}
.back-button{

display: inline-block;
z-index: 1000;
}
.heading-text{
width: 71%;

display: inline-block;

margin: 0 auto;
}
.heading-text h3{
display: inline-block;
margin: 0px auto;
text-align: center;
width: 90%;
font-weight: bolder;
letter-spacing: 1px;
font-size: 14px;
}
.app-body{
    z-index: 1000;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 66px;
}
// svg {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 12vw;
//     /* set height to pixels if you want angle to change with screen width */
//   }

.app-body{
  padding: 10px
}
.content-md {

    background-color: #ffffff !important;
}
svg {
    position: unset !important;
    bottom: 0;
    width: 100%;
    height: 33vw !important;
    margin-left: 15px;
    margin-top: -8px;
} body{
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    
}

.back-button{
 
    display: inline-block;
  
}
.heading-text{
    width: 71%;
   
    display: inline-block;
    
    margin: 0 auto;
}
.heading-text h3{
display: inline-block;
margin: 0px auto;
text-align: center;
width: 90%;
font-weight: bolder;
    letter-spacing: 1px;
font-size: 14px;
}
.app-body{
    z-index: 1000;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
}
// svg {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 12vw;
//     /* set height to pixels if you want angle to change with screen width */
//   }

  .app-body{
      padding: 10px
  }


  .card{
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 4px 14px -2px #bab8b8;
  }
  .card-header{
    border-bottom: 1px solid #E5E5E5;
    box-sizing: border-box;
  }
  .card-heading {
    width: 70%;
    box-sizing: border-box;
    display:inline-block;
  }
  .card-toggle{
      text-align: right;
      width: 28%;
      font-size: 12px;
      box-sizing: border-box;
      display:inline-block;
  }
  .card-toggle button {
      background-color: #FFF;
      border: 1px solid  #0050ef;
      color:  #0050ef;
      border-radius: 5px;
  }
  .card-body {
    height: 130px;
    color: #b9b9b9;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .card-header h5{
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    color: #0050ef;
    font-size: 10px;
  }


  .card-left {
    width: 50%;
    border-right: 0.5px solid #E5E5E5;
    height: 118px;
    box-sizing: border-box;
    float: left;
  }

  .card-right {
    float: left;
    width: 50%;
    height: 110px;
    box-sizing: border-box;
    padding:15px;
    font-size: 12px;
    color: #333333;
    padding-left: 16px;
    /* text-align: center; */
}

.info {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E5E5E5;
}
.info1 {
    margin-top: 5px;
    padding-bottom: 5px;
 }  


#graph {
    width: 200px;
margin-left: -50px;
 
}

#gauge-value {
    color: #0050ef;
    position: absolute;
    margin-top: 45px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 4px;
    margin-top: 45px;
}
 


.motor {
    padding: 5px;
}

.motor-label {
    float: left;
    width: 70%;
    font-size: 12px;
    color: #333333;
}
.motor-label1 {
    float: right;
    /* width: 30%; */
    font-size: 12px;
    color: #333333;
    margin-top: -16px;
}
.motor-control {
    float: left;
    width: 29%;
    position: absolute;
right: 0;
margin-top: -3px;
}
ion-slides {
    display: block;
    width: auto !important;
    height: auto !important;
}
ion-icon {
   
    padding-right: unset !important;
}
@media only screen and (min-device-width:380px) and (max-device-width: 1024px) and (orientation:portrait) {
    svg {
        position: unset !important;
        bottom: 0;
        width: 100%;
        height: 27vw !important;
        margin-left: 25px;
    }
  }
  @media only screen and (min-device-width:800px) and (max-device-width: 1024px) and (orientation:portrait) {
    svg {
        position: unset !important;
    bottom: 0;
    width: 100%;
    height: 16vw !important;
    margin-left: 123px;
    margin-top: -16px;
}
  }

  @media only screen and (min-device-width:700px) and (max-device-width: 1024px) and (orientation:portrait) {
    svg {
        position: unset !important;
    bottom: 0;
    width: 100%;
    height: 16vw !important;
    margin-left: 123px;
    margin-top: -16px;
}
  }

  @media only screen and (min-device-width:1024px) and (max-device-width: 1024px) and (orientation:portrait) {
    svg {
        position: unset !important;
        bottom: 0;
        width: 100%;
        height: 12vw !important;
        margin-left: 176px;
        margin-top: -11px;
    }
  }


  @media only screen and (min-device-width:1024px) and (max-device-width: 1024px) and (orientation:portrait) {
    .card-header h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        letter-spacing: 2px;
        color: #0050ef;
        font-size: 10px;
        margin-right: 217px;
    }
  }
  @media only screen and (min-device-width:700px) and (max-device-width: 1024px) and (orientation:portrait) {
    .card-header h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        letter-spacing: 2px;
        color: #0050ef;
        font-size: 10px;
        margin-right: 144px;
    }
  }
  @media only screen and (min-device-width:800px) and (max-device-width: 1024px) and (orientation:portrait) {
    .card-header h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        letter-spacing: 2px;
        color: #0050ef;
        font-size: 10px;
        margin-right: 144px;
    }
  }

  @media only screen and (min-device-width:350px) and (max-device-width: 1024px) and (orientation:portrait) {
    .card-header h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        letter-spacing: 2px;
        color: #0050ef;
        font-size: 10px;
        margin-right: 68px;
    }
  }

  @media only screen and (min-device-width:300px) and (max-device-width: 1024px) and (orientation:portrait) {
    .card-header h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        letter-spacing: 2px;
        color: #0050ef;
        font-size: 10px;
        margin-right: 40px;
    }
  }

  @media only screen and (min-device-width:400px) and (max-device-width: 1024px) and (orientation:portrait) {
    .card-header h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        letter-spacing: 2px;
        color: #0050ef;
        font-size: 10px;
        margin-right: 80px;
    }
  }


  @media only screen and (max-device-width: 1024px) and (min-device-width: 360px) and (orientation: portrait){
 .card-header h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    color: #0050ef;
    font-size: 10px;
    margin-right: 55px;
}
}


@media only screen and (max-device-width: 1024px) and (min-device-width: 800px) and (orientation: portrait){
 .card-header h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    color: #0050ef;
    font-size: 10px;
    margin-right: 169px;
}
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 412px) and (orientation: portrait){
    .card-header h5 {
       margin-top: 5px;
       margin-bottom: 5px;
       letter-spacing: 2px;
       color: #0050ef;
       font-size: 10px;
       margin-right: 76px;
   }
   }


   .item-md {
    margin: -15px !important;
   
  background-color:transparent !important  ;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-md.item-block .item-inner {
    padding-right: 0 !important;  
     border-bottom:none;  
}

mwl-gauge {
    flex: 1;
    display: block;
    padding: 10px;
   
  
    border-radius: 3px;
  }
  mwl-gauge > .gauge > .dial {
    stroke: #e4e3db;
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  mwl-gauge > .gauge > .value {
    stroke: rgb(0, 80, 239);
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  mwl-gauge > .gauge > .value-text {
    fill: rgb(0, 80, 239);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
  }

  .content-md {
 
    background-color: #ffffff;
}
.toolbar-md-primary .toolbar-background-md {
    background: #0050ef;
}
.toolbar-background-md {
    border-color: #0050ef;
    background: #0050ef;
}
.button-md {
    background-color: #0050ef;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    border-radius: 50%;
    height: 30px;
    width: 35px;
}
#line-chart{
display: block;
height: 200px;
width: 343px;
margin-top: -20px;
}

#line-chart2{
    display: block;
    height: 200px;
    width: 343px;
    margin-top: -20px;
    }
    ion-icon {
        display: inline-block;
        font-size: 1.2em;
        float: none;
        padding-right: 20px;
    }
}