<!--
  Generated template for the AppliancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <!-- <div>
    <ion-slides (ionSlideDidChange)="goToSlide()">
      <ion-slide > 
        <a ion-button [ngStyle]="{'background-color':  lateChipColor }" (click)="publishedEvent()" right>
          <ion-icon ios="md-power" md="md-power"></ion-icon>
        </a>
        <br />
        <div class="donut-chart small">
          <svg id="donoutOverhead"  width="100%" height="100%" ></svg>
        </div>
        <p align="center" style="margin-top:20px">{{todaydate}}-{{todaymonth}}-{{todayYear}} {{todayHourAdd5}}:{{todayMn}}</p>
       <div style="margin-top: 60px">
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
            <p>Last filed</p>
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
            <p>Avg daily consumption</p>
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list> 
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
           <p>Rate of charge</p>
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list> 
      </div>
      </ion-slide>
      <ion-slide >
        <a ion-button [ngStyle]="{'background-color':  lateChipColor }" (click)="publishedEvent()" right>
          <ion-icon ios="md-power" md="md-power"></ion-icon>
        </a>    
        <div class="donut-chart small">
          <svg id="donoutUnderground"  width="100%" height="100%" ></svg>
        </div>
        <p align="center" style="margin-top:20px">{{todaydate}}-{{todaymonth}}-{{todayYear}} {{todayHourAdd5}}:{{todayMn}}</p>
       <div style="margin-top: 60px">
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
            <p>Last filed</p>
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
            <p>Avg daily consumption</p>
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list> 
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
           <p>Rate of charge</p>
            <button ion-button clear item-end>78%</button>
          </ion-item>
        </ion-list> 
      </div>    
      </ion-slide>
      <ion-slide style=" height:auto">       
        <div class="chartWrapper">
          <div class="chartAreaWrappermotor">
            <div class="chartAreaWrapper2">
              <canvas id="line-chart-motor" height="180" width="350"></canvas>
            </div>
          </div>
        </div>
        <div class="chartWrapper">
          <div class="chartAreaWrapper">
            <div class="chartAreaWrapper2">
              <canvas id="line-chart" height="300" width="350"></canvas>
            </div>
          </div>
        </div>
        <div class="chartWrapper">
          <div class="chartAreaWrapper">
            <div class="chartAreaWrapper2">
              <canvas id="line-chart2" height="300" width="350"></canvas>
            </div>
          </div>
        </div>  
      </ion-slide>
    </ion-slides>
  </div> -->
  <ion-slides (ionSlideDidChange)="goToSlide()">
    <ion-slide>

      <div>
   <!--      <div class="header">
          <div>
            <div class="back-button" (click)="backBtn()">
                <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
            </div>
            <div class="heading-text">
              <h3>{{name}}</h3>
            </div>
          </div>
          <svg id="svgId" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="#FFFFFF" points="0,100 100,0 100,100" />
          </svg>
        </div> -->
        <div class='header'>
            <div class="back-button" (click)="backBtn()">
                <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
            </div>
            <div class='header-heading'>
                <h3>{{name}}</h3>
            </div>
          </div>

        <div class="app-body">
          <div class="card" style="margin-top:-66px">
            <div class="card-header">
              <div class="card-heading">
                <h5>TANK</h5>
              </div>
              <div class="card-toggle">
                <button >
                  <ion-icon align="center" ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class='card-body' id='card1'>
              <div class="card-left">
                <span id="gauge-value">%</span>
                <div id="graph">
                  <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001"   [value]="gaugeValues[1]"
                    [animated]="true" [animationDuration]="1">
                  </mwl-gauge>

                </div>

              </div>
              <div class="card-right">
                <div class="info" style="margin-top: 0px;">Since: {{jointDate}} {{jointTime}}</div>
                <div class="info">Max reached: 95%</div>
                <div class="info1">Min reached: 10%</div>
              </div>
            </div>
          </div>

          <div class="card" style="margin-top:20px">
            <div class="card-header">
              <div class="card-heading">
                <h5>MOTOR</h5>
              </div>
              <div class="card-toggle">
                <button (click)='toggle("card2")'>
                  <ion-icon align="center" ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class='card-body' id='card2' style='display:none; height:100%;'>
              <div class='motor'>
                <div class='motor-label'>
                  <div class="info" style="margin-top: 0px; border-bottom: 0px;">Since: 23-10-2018 01:44:34</div>
                </div>
                <div class='motor-label1'>
                    
                  <a ion-button [ngStyle]="{'background-color':  lateChipColor }" (click)="publishedEvent()" right>
                    <ion-icon ios="md-power" md="md-power"></ion-icon>
                  </a>   
                  </div>
              </div>
            </div>
          </div>

          <div class="card" style="margin-top:20px">
            <div class="card-header">
              <div class="card-heading">
                <h5>CONSUMPTION</h5>
              </div>
              <div class="card-toggle">
                <button (click)='toggle("card3")'>
                  <ion-icon align="center" ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class='card-body' id='card3' style='display:none;'>
              <div class="chartWrapper">
                <div class="chartAreaWrapper">
                  <div class="chartAreaWrapper2">
                    <canvas id="line-chart" width="347px" style="margin-left: -3px;"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card" style="margin-top:20px">
            <div class="card-header">
              <div class="card-heading">
                <h5>HISTORIC</h5>
              </div>
              <div class="card-toggle">
                <button (click)='toggle("card4")'>
                  <ion-icon align="center" ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class='card-body' id='card4' style='display:none;'>
                <div class="chartWrapper">
                    <div class="chartAreaWrapper">
                      <div class="chartAreaWrapper2">
                        <canvas id="line-chart-motor" height="100px" width="347px" style="margin-left: -3px;    margin-top: -18px;"></canvas>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <div class="header">
          <div>
              <div class="back-button" (click)="backBtn()">
                  <ion-icon ios="ios-arrow-back-outline" md="ios-arrow-back-outline"></ion-icon>
              </div>
            <div class="heading-text">
              <h3>{{name}}</h3>
            </div>
          </div>
          <svg id="svgId" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="#FFFFFF" points="0,100 100,0 100,100" />
          </svg>
        </div>

        <div class="app-body">
          <div class="card" style="margin-top:-66px">
            <div class="card-header">
              <div class="card-heading">
                <h5>TANK</h5>
              </div>
              <div class="card-toggle">
                <button > <!-- //(click)='toggle("card5")' -->
                  <ion-icon align="center" ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class='card-body' id='card5'>
              <div class="card-left">
                <span id="gauge-value">%</span>
                <div id="graph">
                  <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001"  [value]="gaugeValuesUnderground[1]"
                    [animated]="true" [animationDuration]="1">
                  </mwl-gauge>
                  <!-- <svg id="fillgauge1" width="75" height="75"></svg>   -->
                </div>

              </div>
              <div class="card-right">
                <div class="info" style="margin-top: 0px;">Since: {{DateUnderground}} {{timeUnderground}}</div>
                <div class="info">Max reached: 95%</div>
                <div class="info1">Min reached: 10%</div>
              </div>
            </div>
          </div>

          <div class="card" style="margin-top:20px">
            <div class="card-header">
              <div class="card-heading">
                <h5>MOTOR</h5>
              </div>
              <div class="card-toggle">
                <button (click)='toggle("card6")'>
                  <ion-icon align="center" ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class='card-body' id='card6' style='display:none; height:100%;'>
              <div class='motor'>
                <div class='motor-label'>
                  <div class="info" style="margin-top: 0px; border-bottom: 0px;">Since: 23-10-2018 01:44:34</div>
                </div>
                <div class='motor-label1'>
                    
                  <a ion-button [ngStyle]="{'background-color':  lateChipColor }" (click)="publishedEvent()" right>
                    <ion-icon ios="md-power" md="md-power"></ion-icon>
                  </a>   
                </div>
              </div>
            </div>
          </div>

          <div class="card" style="margin-top:20px">
            <div class="card-header">
              <div class="card-heading">
                <h5>CONSUMPTION</h5>
              </div>
              <div class="card-toggle">
                <button (click)='toggle("card7")'>
                  <ion-icon align="center" ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class='card-body' id='card7' style='display:none;'>
              <div class="chartWrapper">
                <div class="chartAreaWrapper">
                  <div class="chartAreaWrapper2">
                    <canvas id="line-chart2"  width="347px" style="margin-left: -3px;"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card" style="margin-top:20px">
            <div class="card-header">
              <div class="card-heading">
                <h5>HISTORIC</h5>
              </div>
              <div class="card-toggle">
                <button (click)='toggle("card8")'>
                  <ion-icon align="center" ios="ios-arrow-down-outline" md="ios-arrow-down-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class='card-body' id='card8' style='display:none;'>
                <div class="chartWrapper">
                    <div class="chartAreaWrapper">
                      <div class="chartAreaWrapper2">
                        <canvas id="line-chart-motor1" height="100px" width="347px" style="margin-left: -3px;  margin-top: -18px;"></canvas>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
 
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne" (click)="home()">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>