<!-- <ion-header>
  <ion-toolbar color="nav">
    <ion-buttons left>
      <button class="sidemenuBackground" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="margin-top: 3px;float: left;">OTTO HOME</ion-title>

  </ion-toolbar>
</ion-header> -->


<ion-content>

  <div class="header">

    <div class="back-button" ion-button>
      <ion-icon name="menu" (click)="menus()"></ion-icon>
    </div>
    <div class="heading-text">
      <h3>OTTO HOME</h3>
    </div>


    <svg id="svgId" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="#FFFFFF" points="0,100 100,0 100,100" />
    </svg>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-menu id="myMenu" [content]="content">
    <ion-header color="nav">
      <ion-toolbar color="nav">

        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="sidemenuBackground" color="navi">
      <!--  <ion-list inset>
            <button ion-item menuClose *ngIf="isAuthenticated()" (click)="Addorganiziation()">
              Add org
            </button>
      
            <button ion-item menuClose (click)="AddLevel()">
              Add level
            </button>
            <button  ion-item menuClose (click)="AddDevice()">
              Add device
            </button>
      
            <button menuClose ion-item (click)="logout()">
              Logout
            </button>
          </ion-list>
       -->
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>


  <ion-grid>
    <ion-row>

      <!-- <ion-col col-4  padding class="grid-view">
            <div (click)="Addorganiziation()">
              <ion-icon align=center class="ion-ion-icon" ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
              <br />
              <br />
              <p class="applience-name" align=center>Organization</p>
            </div>
          </ion-col> -->
      <ion-col col-4 *ngFor="let level of  firstlevel" padding class="grid-view">
        <div (click)="showsubLevel(level)">
          <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>
          <br />
          <br />
          <p class="applience-name" align=center>{{level.levelId}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right>
    <button ion-fab> <ion-icon style="padding: 10px;" align=center ios="md-add" md="md-add"></ion-icon></button>
    <ion-fab-list side="top">
      <button  ion-fab (click)="Addorganiziation()">
        <ion-icon style="padding: 10px;" align=center ios="md-home" md="md-home"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
        <button ion-fab (click)="mailto()">
          <ion-icon style="padding: 10px;" align=center ios="md-contacts" md="md-contacts"></ion-icon>
        </button>
      </ion-fab-list>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne" (click)="home()">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo" (click)="onbms()">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour" (click)="settings()">
          <ion-icon name="ios-settings-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>