page-home {
   
    #svgId {
        position: unset!important;
        bottom: 0;
        width: 100%;
        height: 18vw!important;
        margin-top: -27px;
        margin-left: -1px;
    } body{
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    
}
.header{
    background: #0050ef;
    width: 100%;
    margin-top: 0px;
    padding-top: 25px;
 
    color: white;
    position: relative;
    height: 106px;
    /*background-image: linear-gradient(rgb(9, 172, 241), #6060604f);*/
}
.back-button{
 
    display: inline-block;
    z-index: 1000;
}
.heading-text{
    width: 71%;
   
    display: inline-block;
    
    margin: 0 auto;
}
.heading-text h3{
display: inline-block;
margin: 0px auto;
text-align: center;
width: 90%;
font-weight: bolder;
    letter-spacing: 1px;
font-size: 14px;
}
.app-body{
    z-index: 1000;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
}
// svg {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 12vw;
//     /* set height to pixels if you want angle to change with screen width */
//   }

  .app-body{
      padding: 10px
  }
    .content-md {
 
        background-color: #ffffff !important;
    }
    .back-color {
        background-color: #16a085 !important
    }
    ion-icon {
        display: inline-block;
        font-size: 1.2em;
        float: right;
        padding-right: 20px;
    }
    .tabs-md .tabbar {
        opacity: 1;
    }
    .grid-view {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 14px -2px #bab8b8;
    margin: 5px;
    height: 106px;
     
    }
    .content-md {
        color: #0050ef;
        
    }
    [col-4] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        /* width: 33.33333%; */
        max-width: 30.33333%;
    }
    .ion-ion-icon {
        // display: inline-block;
        font-size: 3.8em;
        /* float: right; */
        // padding-right: 20px;
    }
    .ion-ion-icon-menu {
        font-size: 2.2em;
        color: white;
    }
    .applience-name {
        font-size: 12px;
        white-space: pre;
        margin-top: 23px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #F9BA32;
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }
    .toolbar-md-primary .toolbar-background-md {
        background: #0050ef;
    }
    .toolbar-background-md {
        border-color: #0050ef;
        background: #0050ef;
    }

    .button-md {
     
        background-color: #0050ef;
       
        -webkit-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
  
    }
    .fab-close-active .fab-close-icon {
      
        padding-left: 19px;
    }

    .fab-md-in-list {
        color: #000;
        background-color: #ffffff !important;
      
    }
    ion-backdrop {
        margin-top: 589px !important;
        left: 299px !important;
        top: 0;
        position: absolute;
        z-index: 2;
        display: block;
        width: 16% !important;
        height: 45px !important;
        background-color: #c2b9b9;
        opacity: .01;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    ion-modal {
        left: 255px !important;
        top: 0;
        position: absolute;
        display: block;
        width: 30% !important;
        height: 30% !important;
        margin-top: 406px !important;
        contain: strict;
    }
}