page-sign-up {
//     .content-md {       background-color: #ffffff !important; }
//     ion-icon {
//         display: inline-block;
//         font-size: 2.5em;
//         padding-left: 10px;
//     }
//     .button-md-secondary {
//         color: #fff;
//         background-color: #32db64;
//         margin-left: 26px;
//     }
//     .fullscreen{
//         height: 100%;
//         width: 100%;

//     }
//     .card-body{
//         padding-left: 28px;
//         padding-top: 20px;
//     }
//     .background{background-color: #e4e5e6;
//         // border:7px solid ;
//         // border-radius: 5px;

//     }
//     .form-backgrpund {
//         background-color: white;
//         margin-top: 127px;
//         border-radius: 5px;
//         height: 365px;
//         width: 80%;
//         margin-left: 10%;
//     }

//     input[type=text] {
//         width: 92%;
//         padding: 12px 20px;
//         margin: 8px 12px;
//         -webkit-box-sizing: border-box;
//         box-sizing: border-box;
//         border: 1px solid #e4e5e6;
//         border-radius: 3px;
//         background-color: white !important;
//         color: black;
        
//     }
//     .text-input::-moz-placeholder {
//         color: black;
//       }
      
//       .text-input:-ms-input-placeholder {
//         color: black;
//       }
      
//       .text-input::-webkit-input-placeholder {
//         text-indent: 0;
//         color: black;
//       }
//     input[type=password] {
//         width: 92%;
//         padding: 12px 20px;
//         margin: 8px 12px;
//         -webkit-box-sizing: border-box;
//         box-sizing: border-box;
//         border: 1px solid #e4e5e6;
//         border-radius: 3px;
//         background-color: white !important;
//         color: black;
//     }
//     .forgetpassword{
// color: white;
// float: right;
// font-family: cursive
//     }

//     @media only screen and (max-width: 300px ) {
//         .background-button{
//             background-color: white;
        
               
          
//         }
        
//     }


//     @media only screen and (max-width: 600px) {
//         .background-button{
//             background-color: white;
        
               
          
//         }
        
//     }

//     @media only screen and (max-width: 1300px) {
//         .background-button{
//             background-color: white;
        
               
          
//         }
        
//     }
    
// .background-button{
//     background-color: white;

       
  
// }
//     .ico{

//         margin-top: 5%
//     }
//     .forSignup{
//         // color: white;
//         float: right;
//         margin-right: 20px;
//     }
//     ::-webkit-input-placeholder {
//         text-align: left;
//      }
     
//      :-moz-placeholder { /* Firefox 18- */
//         text-align: left;  
//      }
     
//      ::-moz-placeholder {  /* Firefox 19+ */
//         text-align: left;  
//      }
     
//      :-ms-input-placeholder {  
//         text-align: left; 
//      }
//      .wrapper {
//         // text-align: center;
//         // color:white;
//     }
    
//     .button {
         
//     }
//      .logo-login {
//        float: left;
//     position: absolute;
//     height: 18px;
//     padding-right: 9px;
//     margin: 22px;
//     }    
//     .search {
//         margin-top: 30px;
//         text-align: center;
//     }
//       .inp-Width {
//         width: 60%;
//         /*left: 70px;*/
//     }.line-vertical {
//         color: #d40303;
//         padding-left: 13px;
//     }    .inp-bodre-style {
//         background-color: transparent;
//         /*border-style: none*/
//         border-left: none;
//         border-right: none;
//         border-top: none;
//         border-bottom-color: #d40303;
//     }
//     input::placeholder {
//         color: white;
//       }

//       .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
//         border-bottom-color: white;
//         -webkit-box-shadow: inset 0 -1px 0 0 white;
//         box-shadow: inset 0 -1px 0 0 white;
//     }
    
//     .item-md.item-block .item-inner {
//         padding-right: 8px;
//         border-bottom: none;
//     }
//     .button-md-secondary {
//         color: #fff;
//         background-color: #20a8d8;
//         margin-left: 26px;
//     }
    
//     .button-md-secondary {
//         color: #fff;
//         background-color: #20a8d8;
//     }
.content {
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


#block {
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
}
   
@keyframes spin {
    0%,10% {
        transform:rotate(360deg);
    }
    40%,50% {
        transform:rotate(0deg);
    }
    90%,100% {
        transform:rotate(360deg);
    }

}

.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    margin: 0px auto;
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    background-image: url(../assets/icon/screen2.jpg);
    /* background-position: center; */
    background-size: cover;
    height: 100%;
}

.img-box {
    padding: 10px;
    margin-bottom: 20px;
}

.text-box {
    width: 98%;
    font-size: 14px;
    font-weight: bolder;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px auto;
    margin-top: 0px;
    margin-bottom: 7px;

}

.text-box input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border: 1px solid #e6dad766;
    border-radius: 3px;
    box-shadow: 1px 1px 13px 0px #837a78;
}

.save-btn {
    width: 95%;
    padding: 10px;
    height: 40px;
    text-align: center;
    color: #FFF;
    background-color: #Fb6542;
    font-size: 14px;
    font-weight: bolder;
    border: none;
    border-radius: 3px;
    /* box-shadow: 0px 2px 10px -4px #0000003d; */
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 13px 0px #837a78;
}

p {
    margin: 0;
    font-size: 12px;
    color: #Fb6542;
}

a {
    text-decoration: underline;
    color: #Fb6542;
}
}
