// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-md-primary .toolbar-background-md {
    background: #c5Beba;
}

.toolbar-background-md {
    border-color: #b2b2b2;
    background: #113743;
}

.segment-md .segment-button {
 
    border-bottom-style: none;
   
}
.segment-md-light .segment-button.activated, .segment-md-light .segment-button.segment-activated {
    border-color: #f4f4f4;
    color: #c5001a;
    opacity: 1;
}
ion-icon {
    display: inline-block;
    font-size: 1.2em;
    float: right;
    padding-right: 20px;
}