 
<div class='header'>
    <div class='header-option' ion-button>
      <a (click)="menus()">
        <img src='../assets/icon/icons8-menu-50.png' width=15px height=15px>
      </a>
    </div>
    <div class='header-heading'>
      <h3>Linked Things</h3>
    </div>
  </div>

<ion-content>

<!--   <div class="header">

    <div class="back-button" ion-button  >
      <ion-icon name="menu" (click)="menus()"></ion-icon>
    </div>
    <div class="heading-text">
      <h3>OTTO HOME</h3>
    </div>

    <svg id="svgId" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="#FFFFFF" points="0,100 100,0 100,100" />
    </svg>
  </div> -->
  <div class='content'>
      <div class='content-box '>
        <div>
          <div class='content-box-icon' *ngFor="let data_hierarchy of  deviceHub ;let i = index">
              <div *ngIf="device_Id === data_hierarchy.levelId">

                  <div *ngIf="data_hierarchy.type == 'Water'">
            <div (click)="showsubLevel(data_hierarchy)">
              <a>
                <img src='../assets/icon/hotel.png' width=50px height=50px>
              </a>
              <p class='name'>{{data_hierarchy?.type}}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
  <!-- <ion-grid>
    <ion-row>
  
      <div *ngFor="let data_hierarchy of  deviceHub; let i=index">
        <div *ngIf="device_Id === data_hierarchy.levelId">

          <div *ngIf="data_hierarchy.type == 'Water'">
            <div *ngIf="data_hierarchy.type != 'Hub'" padding class="grid-view">
               <div align="center" (click)="showsubLevel(data_hierarchy)">
                 <img align="center" class="ico-class" src="../assets/icon/ic_water.png" alt="">
                <br />
                <br />
                <p class="applience-name" align=center>{{data_hierarchy?.type}}</p>

              </div>
            </div>
          </div>
          <div *ngIf="data_hierarchy.type == 'Plug'">
            <div *ngIf="data_hierarchy.type != 'Hub'" padding class="grid-view">
               <div align="center" (click)="showsubLevel(data_hierarchy)">
                 <img align="center" class="ico-class" src="../assets/icon/Switch.png" alt="">
                <br />
                <br />
                <p class="applience-name" align=center>{{data_hierarchy?.name}}</p>

              </div>
            </div>
          </div>
          <div *ngIf="data_hierarchy.type == 'Monitor'">
            <div *ngIf="data_hierarchy.type != 'Hub'" padding class="grid-view">
               <div align="center" (click)="showsubLevel(data_hierarchy)">
                 <img align="center" class="ico-class" src="../assets/icon/ic_ac_close.png" alt="">
                <br />
                <br />
                <p class="applience-name" align=center>{{data_hierarchy?.name}}</p>

              </div>
            </div>
          </div>
          <div *ngIf="data_hierarchy.type == 'PowerUnit'">
            <div *ngIf="data_hierarchy.type != 'Hub'" padding class="grid-view">
               <div align="center" (click)="showsubLevel(data_hierarchy)">
                 <img align="center" class="ico-class" src="../assets/icon/ic_power.png" alt="">
                <br />
                <br />
                <p class="applience-name" align=center>{{data_hierarchy?.name}}</p>

              </div>
            </div>
          </div>
          <div *ngIf="data_hierarchy.type != 'PowerUnit' && data_hierarchy.type != 'Monitor' &&  data_hierarchy.type != 'Plug' && data_hierarchy.type != 'WaterTank'">
            <div *ngIf="data_hierarchy.type != 'Hub' && data_hierarchy.type != 'Water'" padding class="grid-view">
               <div align="center" (click)="showsubLevel(data_hierarchy)">
                <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>
                 <br />
                <br />
                <p class="applience-name-device" align=center>{{data_hierarchy?.name}}</p>

              </div>
            </div>
          </div>




        </div>
      </div>

    </ion-row> -->
    <!-- " -->

    <!--  <ion-col col-4 *ngFor="let data_hierarchy of  check ;let i = index" padding class="grid-view">
          <div (click)="showsubLevel(data_hierarchy)">
            <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>
  
  
            <br />
            <br />
            <p class="applience-name" align=center>{{data_hierarchy?.type}}</p>
          </div>
        </ion-col> -->

  <!-- </ion-grid> -->

  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon style="padding: 10px;" align=center ios="md-add" md="md-add"></ion-icon>
    </button>
    <ion-fab-list side="top">

      <button ion-fab (click)="AddDevice()">
        <ion-icon style="padding: 10px;" align=center ios="md-contacts" md="md-contacts"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab>
        <ion-icon style="padding: 10px;" align=center ios="md-contacts" md="md-contacts"></ion-icon>
      </button>
    </ion-fab-list>

  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne" (click)="home()">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>