<!--
  Generated template for the DrcodereaderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <!--    <h1>
        <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
      </h1>
      <h1>
        <button ion-button color="dark" full round (click)="go()">Star</button>
      </h1>
      <h1>
        <button ion-button color="dark" full round (click)="wifi()">wifi</button>
      </h1> -->

</ion-content>
