<!--
  Generated template for the EmailverifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>emailverify</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
please verify your email
</ion-content>
