// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-md-primary .toolbar-background-md {
    background: #c5Beba;
}
/* 
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #113743;
} */

.segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: none;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    opacity: 0.7;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 15px;
    bottom: 6px;
   
   
}
.segment-md-light .segment-button.activated, .segment-md-light .segment-button.segment-activated {
    border-color: #f4f4f4;
    color: #c5001a;
    opacity: 1;
}
ion-icon {
    display: inline-block;
    font-size: 1.2em;
    float: right;
    padding-right: 20px;
}  
svg {
    position: unset !important;
    bottom: 0;
    width: 100%;
    height: 17vw !important;
    margin-left: 15px;
    margin-top: 5px;
}
 body{
margin: 0;
background-color: #FFFFFF;
font-family: 'Montserrat', sans-serif;

}
.header{
background: #0050ef;
width: 100%;
margin-top: 0px;
padding-top: 25px;

color: white;
position: relative;
height: 106px;
/*background-image: linear-gradient(rgb(9, 172, 241), #6060604f);*/
}
.back-button{

display: inline-block;
z-index: 1000;
}
.heading-text{
width: 71%;

display: inline-block;

margin: 0 auto;
}
.heading-text h3{
display: inline-block;
margin: 0px auto;
text-align: center;
width: 90%;
font-weight: bolder;
letter-spacing: 1px;
font-size: 14px;
}
.app-body{
z-index: 1000;
margin-left: 5px;
margin-right: 5px;
font-family: 'Open Sans', sans-serif;
}
// svg {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 12vw;
//     /* set height to pixels if you want angle to change with screen width */
//   }

.app-body{
  padding: 10px
}
.content-md {

    background-color: #ffffff !important;
}

.button-md {
 
    background-color: #488aff;
    -webkit-box-shadow: #488aff;
box-shadow: #488aff;
   
}
ion-modal {
    left: 255px !important;
    top: 0;
    position: absolute;
    display: block;
    width: 30% !important;
    height: 30% !important;
    margin-top: 406px !important;
    contain: strict;
}  