<ion-menu id="myMenu" [content]="content">
  

  <ion-content class="sidemenuBackground" color="navi">
      <div class="header">
    <!--   
          <div class="back-button" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </div> -->
          <div class="heading-text">
            <h3>OTTO HOME</h3>
          </div>
        
      
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon fill="#FFFFFF" points="0,100 100,0 100,100" />
        </svg>
      </div>
    <!--  <ion-list inset>
      <button ion-item menuClose *ngIf="isAuthenticated()" (click)="Addorganiziation()">
        Add org
      </button>

      <button ion-item menuClose (click)="AddLevel()">
        Add level
      </button>
      <button  ion-item menuClose (click)="AddDevice()">
        Add device
      </button>

      <button menuClose ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>
 -->
 <ion-list>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      {{p.title}}
    </button>
  </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>