<!--
  Generated template for the AddDevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
 

<ion-content padding>
    <form (submit)="wifiIdPass()" class="form-backgrpund">
       
        <ion-item>
          <ion-label>
            <ion-icon name="ios-person-outline"></ion-icon>
          </ion-label>
          <ion-input clearInput type="text" [(ngModel)]="_id" value="_id" name="ssid"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
          </ion-label>
          <ion-input clearInput type="text" [(ngModel)]="password" name="password" required ></ion-input>
 
       <!--    <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
          <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
                  --> </ion-item>
        <br>
        <br>
        <button ion-button color="secondary" left>save wifi</button>
      </form>
      <button ion-button color="nav" right style="float: right;margin-top: -53px;margin-right: 41px;" (click)="dismiss()">close</button>

</ion-content>
