page-add-org-level {
    .form-backgrpund{
        background-color: #f2f2f2;
        /* height: 201px; */
        border-radius: 10px;
        margin-top: 160px;
        width: 89%;
        padding: 16px;
        margin-left: 5%;
    }
      .content-md {
      
        background-color: transparent !important;
    }
}
