 


<ion-content padding>
  <form (submit)="submit()" class="form-backgrpund">
    <br>
    <ion-item>
      <!--  <ion-label>
            <ion-icon name="ios-person-outline"></ion-icon>
          </ion-label> -->
      <ion-input clearInput type="text" [(ngModel)]="_id" name="_id" placeholder="id"></ion-input>
    </ion-item>
  <ion-item>
    <!--  <ion-label>
          <ion-icon name="ios-person-outline"></ion-icon>
        </ion-label> -->
    <ion-input clearInput type="text" [(ngModel)]="name" name="name" placeholder="name"></ion-input>
  </ion-item>
 
    <!--   <ion-label>
          <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
        </ion-label> -->
        <ion-item>
          <ion-label class="inp-Width inp-bodre-styl" >Category</ion-label>
          <ion-select [(ngModel)]="SubCategoryId"  [ngModelOptions]="{standalone: true}" (ionChange)="Categary(SubCategoryId)">
            <ion-option value="Home">Home</ion-option>
            <ion-option value="Office">Office</ion-option>
            <ion-option value="Agriculture">Agriculture</ion-option>
            <ion-option value="Bank">Bank</ion-option>
            <ion-option value="Other">Other</ion-option>
          </ion-select>
        </ion-item>   
  <ion-item>
    <!--   <ion-label>
              <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
            </ion-label> -->
    <ion-input clearInput type="text" [(ngModel)]="levelId" name="levelId" placeholder="Type"></ion-input>
  </ion-item>
 

  <button ion-button  left>Add Levels</button>
  <!-- <p class="forSignup" align="center" (click)="Newhere()">Login</p> -->
</form>
<button ion-button color="nav" right style="float: right;margin-top: -53px;margin-right: 41px;" (click)="dismiss()">close</button>

</ion-content>
