<!--
  Generated template for the OfficedevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div class='header'>
    <div class='header-option' ion-button>
      <a (click)="menus()">
        <img src='../assets/icon/icons8-menu-50.png' width=15px height=15px>
      </a>
    </div>
    <div class='header-heading'>
      <h3>Linked Things</h3>
    </div>
  </div>

<ion-content>
    <div class='content'>
        <div class='content-box '>
          <div>
            <div class='content-box-icon' *ngFor="let data_hierarchy of  fourthlevel ;let i = index">
              <div (click)="showsubLevel(data_hierarchy)">
                <a>
                  <img src='../assets/icon/hotel.png' width=50px height=50px>
                </a>
                <p class='name'>{{data_hierarchy?.name}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
<!--   <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let data_hierarchy of  fourthlevel ;let i = index" padding class="grid-view">
        <div (click)="showsubLevel(data_hierarchy)">
          <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>
          <br />
          <br />
          <p class="applience-name" align=center>{{data_hierarchy?.name}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 -->
<!--   <ion-fab bottom right>
    <button ion-fab>
      <ion-icon style="padding: 10px;" align=center ios="md-add" md="md-add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="AddLevel()">
        <ion-icon style="padding: 10px;" align=center ios="md-home" md="md-home"></ion-icon>
      </button>
      <button ion-fab (click)="AddDevice()">
        <ion-icon style="padding: 10px;" align=center ios="md-contacts" md="md-contacts"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab>
        <ion-icon style="padding: 10px;" align=center ios="md-contacts" md="md-contacts"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="right">

    </ion-fab-list>
  </ion-fab> -->
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne" (click)="home()">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>