page-organization {
    .grid-view {
        background-image: linear-gradient(to left top, #ded1d1, #e6dcdf, #ede8eb, #f5f4f6, #ffffff);                margin: 5px;
        /* width: 20px; */
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        height: 106px;
        border-radius: 2px;
    }
    .content-md {
        color: #000;
        background-color: #e4e3db;
    }
    [col-4] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        /* width: 33.33333%; */
        max-width: 30.33333%;
    }
    .ion-ion-icon {
        // display: inline-block;
        font-size: 3.8em;
        /* float: right; */
        // padding-right: 20px;
    }
    .applience-name {
        font-size: 12px;
        white-space: pre;
        margin-top: 23px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
