<ion-header>
  <ion-navbar>
    <ion-title>OTTO HOME</ion-title>
    <button ion-button menuToggle icon-only right><ion-icon name="menu"></ion-icon></button>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
     <!--  <ion-col col-4 padding class="grid-view">
        <div (click)="AddLevel()">
          <ion-icon align=center class="ion-ion-icon" ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
          <br />
          <br />
          <p class="applience-name" align=center>Levels</p>
        </div>
      </ion-col> -->
      <ion-col col-4 *ngFor="let hierarchy of  hierarchyLevel" padding class="grid-view">
        <div (click)="showsubLevel(hierarchy)">
          <ion-icon align=center class="ion-ion-icon" ios="ios-home-outline" md="ios-home-outline"></ion-icon>
          <br />
          <br />
          <p class="applience-name" align=center>{{hierarchy.name}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedSection" color="light">
      <ion-segment-button value="tabButtonOne">
        <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tabButtonTwo">
        <ion-icon ios="ios-alert-outline" md="ios-alert-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonThree">
        <ion-icon ios="ios-notifications-outline" md="ios-notifications-outline"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="tabButtonFour">
        <ion-icon ios="ios-settings-outline" md="ios-settings-outline"></ion-icon>

      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>