 
<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons left>
      <button class="sidemenuBackground" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="margin-top: 3px;float: left;">OTTO HOME</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content padding>
<h1 align="center">Welcome</h1>
</ion-content>
