page-menu {
    // .grid-view {
    //     background-image: linear-gradient(to left top, #ded1d1, #e6dcdf, #ede8eb, #f5f4f6, #ffffff);                margin: 5px;
    //     /* width: 20px; */
    //     -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    //     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    //     height: 106px;
    //     border-radius: 2px;
    // }
    // [col-4] {
    //     -webkit-box-flex: 0;
    //     -webkit-flex: 0 0 33.33333%;
    //     -ms-flex: 0 0 33.33333%;
    //     flex: 0 0 33.33333%;
    //     /* width: 33.33333%; */
    //     max-width: 30.33333%;
    // }
    // ion-backdrop {
    //     margin-top: 589px !important;
    //     left: 299px !important;
    //     top: 0;
    //     position: absolute;
    //     z-index: 2;
    //     display: block;
    //     width: 16% !important;
    //     height: 45px !important;
    //     background-color: #c2b9b9;
    //     opacity: .01;
    //     -webkit-transform: translateZ(0);
    //     transform: translateZ(0);
    // }
    // ion-modal {
    //     left: 255px !important;
    //     top: 0;
    //     position: absolute;
    //     display: block;
    //     width: 30% !important;
    //     height: 30% !important;
    //     margin-top: 406px !important;
    //     contain: strict;
    // }


    * {
        font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .button-md {
        background-color: #31a2ac !important;
     
       
        -webkit-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
        margin-top: -10px;
    }
    .back-button{
     
        display: inline-block;
        z-index: 1000;
    }
    body {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        /* font-family: 'Montserrat', sans-serif; */
        font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .header {
        height: 60px;
        background-color: #31a2ac !important;
        box-shadow: 1px 1px 13px 0px #837a788a;
        z-index: 3;
    }
    .header {
    
 
        margin-top: 0px !important;
        padding-top: 0px !important;
 
    }
    .header-option {
        height: 60px;
        width: 16%;
        padding-top: 44px;
        /* padding-left: 15px; */
        /* padding-right: 15px; */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
}

    .header-option img {
        filter: invert(180);
    }

    .header-heading {
        height: 60px;
        width: 80%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        padding-top: 10px;
        margin-left: -8%;
        font-weight: bolder;
    }

    .content-ion-ion {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        background-image: url(../assets/icon/screen1.jpg);
        /* background-position: center; */
        background-size: cover;
        height: 100%;
        position: absolute;
    }
    .content-box {
        padding: 0px;
        padding-top: 0px;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        color: #767676;
        margin-top: 91px;
        margin-left: 48px;
    }
    .content-box-icon {
        /* background-color: #Fb6542; */
        border-radius: 3px;
        height: 40px;
        width: 78px;
      
        float: left;
    }
    .content-box-icon img {
        background-color: white;
        border: 1px solid #0000000a;
        box-shadow: 32 23 27 21;
        /* box-shadow: 5px 10px; */
        box-shadow: 1px 1px 13px -2px #837a7859;
        border-radius: 5px;
        padding: 8px;
    }

    .selected{
        filter:none;
        color : #Fb6542;
    }

    .content-box-title {
        float: left;
        text-align: center;
        height: 40px;
        font-size: 13px;
        margin-top: 2px;
        font-weight: bold;
    }

  
    .save-btn {
        width: 95%;
        padding: 10px;
        height: 40px;
        text-align: center;
        color: #FFF;
        background-color: #Fb6542;
        font-size: 14px;
        font-weight: bolder;
        border: none;
        border-radius: 3px;
        position: absolute;
        bottom: 60;
        left: 6;
    }
    

    .footer {
        width: 100%;
        height: 40px;
        background-color: #31a2ac;
        box-shadow: 1px -1px 13px 0px #837a788a;
    }

    .footer-option {
        width: 25%;
        height: 40px;
        float: left;
        box-sizing: border-box;
        padding: 15px;
        padding-top: 10px;
        text-align: center;
        font-size: 20px !important;
        color: #FFF;
    }

    .footer-option img {
        filter: invert(180);
    }
}
