<div class='header'>
    <div class='header-option' ion-button >
        <a (click)="close()"><img src='../assets/icon/icons8-menu-50.png' width=15px height=15px ></a>
      </div>
    <div class='header-heading'>
        <h3>Linked Things</h3>
    </div>
  </div>
<ion-content >
<div class='content-ion-ion'>
  <div>
    <div class='content-box ' >
        <div class='content-box-icon' >
            <img src='../assets/icon/icons8-conference-64.png' width=30px height=30px >
        </div>
        <div class='content-box-title'>
            <p>Add User</p>
        </div>
    </div>
    <div class='content-box selected'>
        <div class='content-box-icon'>
            <img src='../assets/icon/icons8-room-64.png' width=30px height=30px>
        </div>
        <div class='content-box-title'>
            <p>Add Level</p>
        </div>
    </div>
    <div class='content-box'>
        <div class='content-box-icon'>
            <img src='../assets/icon/icons8-microchip-64.png' width=30px height=30px>
        </div>
        <div class='content-box-title'>
            <p>Add Device</p>
        </div>
    </div>
    <div class='content-box'>
        <div class='content-box-icon'>
            <img src='../assets/icon/icons8-customer-64.png' width=30px height=30px>
        </div>
        <div class='content-box-title'>
            <p>Profile</p>
        </div>
    </div>
    <div class='content-box' (click)="logout()">
            <div class='content-box-icon'>
                <a ><img src='../assets/icon/icons8-shutdown-64.png' width=30px height=30px></a>
            </div>
            <div class='content-box-title'>
                <p><a >Logout</a></p>
            </div>
        </div>
</div>
</div>
</ion-content>
<!-- 
<div class='footer'>
    <div class='footer-option'>
        <a href="home.html"><img src='./icons/icons8-home-50.png' width=20px height=20px></a>
    </div>
    <div class='footer-option'>
        <img src='./icons/icons8-alarm-clock-50.png' width=20px height=20px>
    </div>
    <div class='footer-option'>
        <img src='./icons/icons8-notification-50.png' width=20px height=20px>
    </div>
    <div class='footer-option'>
        <img src='./icons/icons8-settings-50.png' width=20px height=20px>
    </div>
</div> -->